<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background-color:yellow;
        }
        fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: blue;
  color: white;
  padding: 5px 10px;
}

        
    </style>
</head>
<h1> <u> <center> WELCOME TO HOME PAGE</center> </u></h1>
<body>
<fieldset>
<marquee> <strong> WELCOME TO HOME PAGE</strong></marquee>


<marquee   direction="right" behavior="alternate" style="background:red;border:green 3px SOLID" >
<strong>!!!.....WELCOME TO HOME Page !!!.....</strong>
</marquee>
<marquee direction="left" behavior="alternate" style="border:RED 3px SOLID" >
<strong>......WELCOME.....</strong>
</marquee>

<legend>Personal Info...</legend>
<h1><center><a href="addclient">click</a></h1></center>

<h1><center><a href="clientdetails">All Client Details</a></h1></center>
<hr>
<h1><center><a href="addProject">Add Project</a></h1></center>
<h1><center><a href="projectdetails">All Project Details</a></h1></center>

</fieldset>
</body>
</html>